<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">

    <meta name="_csrf" content="${_csrf.token}" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.parameterName}" th:content="${_csrf.parameterName}"/>

</head>

<body>
    <h1 th:text="#{app.name}">Приложение для коллекциониров монет.</h1>
    <h2 th:text="#{nav.addcoin}">Добавить монету</h2>

    <form method="POST">
        <b th:text="#{coin.name}">Название:</b>
        <input type="text" name="coinName" th:value="${coinName}" maxlength="150">
        <b th:if="${nameError}" th:text="#{coin.nameerrmsg}"></b>
        <br>

        <b th:text="#{coin.country}">Страна:</b>
        <input type="text" name="coinCountry" th:value="${coinCountry}" maxlength="150">
        <b th:if="${countryError}" th:text="#{coin.countryerrmsg}"></b>
        <br>

        <b th:text="#{coin.year}">Год:</b>
        <input type="number" name="coinYear" th:value="${coinYear}">
        <b th:if="${yearError}" th:text="#{coin.yearerrmsg}"></b>
        <br>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <input type="submit" th:value="#{app.add}">
    </form>

    <b th:if="${statusAdded}" th:text="#{status.added}"></b><br>
    <b th:if="${statusNotAdded}" th:text="#{status.notadded}"></b><br>

    <a th:text="#{app.back}" th:href="@{~/}"></a>
</body>

</html>