<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">

    <meta name="_csrf" content="${_csrf.token}" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.parameterName}" th:content="${_csrf.parameterName}"/>

</head>

<body>
    <h1 th:text="#{app.name}">Приложение для коллекциониров монет.</h1>
    <h2 th:text="#{nav.addcoinsource}">Добавить источник монет</h2>

    <form method="POST">
        <b th:text="#{source.address}">Адрес:</b>
        <input type="text" name="coinSource" maxlength="150" th:value="${coinSource}">
        <b th:if="${addressError}" th:text="#{source.addresserror}"></b>
        <br>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        
        <input type="submit" th:value="#{app.add}">
    </form>

    <b th:if="${statusAdded}" th:text="#{status.added}"></b><br>
    <b th:if="${statusNotAdded}" th:text="#{status.notadded}"></b><br>

    <a th:text="#{app.back}" th:href="@{~/}"></a>
    
</body>

</html>