<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">

    <meta name="_csrf" content="${_csrf.token}" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.parameterName}" th:content="${_csrf.parameterName}"/>

</head>

<body>
    <h1 th:text="#{app.name}">Приложение для коллекциониров монет.</h1>
    <h2 th:text="#{nav.delcoinsource}">Удалить источник монет</h2>

    <form method="POST">
        <b th:text="#{source}">Источник:</b>
        <select name="sourceID">
            <option value="-1" th:text="#{choose.pleaseselect}"></option>
            <option
                th:each="s : ${sourceList}"
                th:value="${s.id}"
                th:text="${s.address}"
                th:selected="${s.id} == ${sourceID}">
            </option>
        </select>
        <b th:if="${sourceIDError}" th:text="#{choose.sourceeerror}">Вы должны выбрать источник монет</b>
        <br>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        
        <input type="submit" th:value="#{app.del}">
    </form>
    <b th:if="${statusDeleted}" th:text="#{status.deleted}"></b><br>
    <b th:if="${statusNotDeleted}" th:text="#{status.notdeleted}"></b><br>

    <a th:text="#{app.back}" th:href="@{~/}"></a>
    
</body>

</html>