<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <script src="js/external/jquery-3.4.1.min.js"></script>
    <script src="js/external/angular.min.js"></script>
    <script src="js/editSource.js"></script>

    <meta name="_csrf" content="${_csrf.token}" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.parameterName}" th:content="${_csrf.parameterName}"/>

</head>

<body>
    <h1 th:text="#{app.name}">Приложение для коллекциониров монет.</h1>
    <h2 th:text="#{nav.editcoinsource}">Изменить источник монет</h2>

    <form method="POST">
        <b th:text="#{source}">Источник:</b>
        <select name="sourceID">
            <option value="-1" th:text="#{choose.pleaseselect}"></option>
            <option
                th:each="s : ${sourceList}"
                th:value="${s.id}"
                th:text="${s.address}"
                th:selected="${s.id} == ${sourceID}">
            </option>
        </select>
        <b th:if="${sourceIDError}" th:text="#{choose.sourceeerror}">Вы должны выбрать источник монет</b>
        <br>

        <b th:text="#{source.address}">Адрес:</b>
        <input type="text" name="coinSource" maxlength="150" th:value="${coinSource}">
        <b th:if="${addressError}" th:text="#{source.addresserror}"></b>
        <br>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <input type="submit" value="Изменить">
    </form>

    <b th:if="${statusEdited}" th:text="#{status.edited}"></b><br>
    <b th:if="${statusNotEdited}" th:text="#{status.notedited}"></b><br>

    <a th:text="#{app.back}" th:href="@{~/}"></a>
</body>

</html>