<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <sec:csrfMetaTags />
</head>

<body>
    <h1 th:text="#{app.name}"></h1>

    <div sec:authorize="isAnonymous()" >
        <a th:text="#{app.needlogin}"></a><br>
        <form action="/login" method="GET">
            <input type="submit" th:value="#{app.login}">
        </form>
    </div>

    <div sec:authorize="isAuthenticated()">
        <a th:text="#{app.userlogined}"></a><br>
        <form action="/logout" method="POST">
            <input type="submit" th:value="#{app.logout}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
    </div>

    <h2 th:text="#{forbidden.message}"></h2>
    <b><a th:href="@{~/}" th:text="#{app.onstartpage}"></a></b>
</body>

</html>