<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <sec:csrfMetaTags />
</head>

<body>
    <h1 th:text="#{app.name}"></h1>

    <div sec:authorize="isAnonymous()" >
        <a th:text="#{app.needlogin}"></a><br>
        <form action="/login" method="GET">
            <input type="submit" th:value="#{app.login}">
        </form>
    </div>

    <div sec:authorize="isAuthenticated()">
        <a th:text="#{app.userlogined}"></a><br>
        <form action="/logout" method="POST">
            <input type="submit" th:value="#{app.logout}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>    
    </div>

    <div sec:authorize="isAuthenticated()">
        <h2 th:text="#{nav.choosemenu}"></h2>
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{~/addCoin}" th:text="#{nav.addcoin}"></a><br>
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{~/addSource}" th:text="#{nav.addcoinsource}"></a><br>
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{~/addConnection}" th:text="#{nav.addcoinconnection}"></a><br>
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{~/editCoin}" th:text="#{nav.editcoin}"></a><br>
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{~/editSource}" th:text="#{nav.editcoinsource}"></a><br>
        <a sec:authorize="hasAuthority('USER') or hasAuthority('ADMIN')" th:href="@{~/findSource}" th:text="#{nav.findcoinsource}"></a><br>
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{~/delCoin}" th:text="#{nav.delcoin}"></a><br>
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{~/delSource}" th:text="#{nav.delcoinsource}"></a><br>
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{~/delConnection}" th:text="#{nav.delcoinconnection}"></a><br>
    </div>
    


    
</body>

</html>