<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <sec:csrfMetaTags />
</head>

<body>
    <h1 th:text="#{app.name}"></h1>
    <h2 th:text="#{login.name}"></h2>

    <form method="POST">
        <b th:text="#{login.username}"></b>
        <input type="text" name="username" maxlength="150" minlength="4">
        <br>

        <b th:text="#{login.password}"></b>
        <input type="password" name="pass" maxlength="150" minlength="4">
        <br>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <input type="submit" th:value="#{app.login}">
    </form>

    <div th:if=${param.error} th:text="#{login.error}"></div>
    <div th:if=${param.logout} th:text="#{login.logout}"></div>
</body>

</html>